<%= form_for @profile, url: user_profile_path, :html => { :multipart => true } do |f| %>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :avatar %>
    <%= f.file_field :avatar, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :company_name %>
    <%= f.text_field :company_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label "Profession" %>
    <%= f.select(:profession, options_for_select([['Construction', 'Construction'], ['Painter', 'Painter'], ['Photographer', 'Photographer']]), { include_blank: true, placeholder: "Select One" }, class: 'form-control') %>
  </div>
  <div class="form-group">
    <%= f.label "Specialty" %>
    <%= f.select(:specialty, options_for_select([['Individual', 'Individual'], ['Commercial', 'Commercial']]), { include_blank: true }, class: 'form-control') %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :work_number %>
    <%= f.text_field :work_number, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :mobile_number %>
    <%= f.text_field :mobile_number, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :linkedin_url %>
    <%= f.text_field :linkedin_url, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :facebook_url %>
    <%= f.text_field :facebook_url, class: 'form-control' %>
  </div>

<%= f.submit "Submit Profile", class: 'btn btn-danger'%>

<% end %>