<div class="row">
  <!-- <div class="col-xs-12"> -->
    <div class="brand-unit">

      <h2><i class="fa fa-th"></i> <%= @user.profile.company_name %> Showcase</h2>
      <h3>  </h3>

    </div>
  <!-- </div> -->

  <!-- <div class="col-xs-12"> -->
    <div class="brand-unit-main">

      <table class="table table-striped table-bordered table-hover brand-unit-table">
        <thead>
          <tr>
            <th class="text-center">Marquee</th>
            <th class="text-center">Category</th>
            <th class="text-center">Title</th>
            <th class="text-center">Before</th>
            <th class="text-center">After</th>
            
            
          </tr>
        </thead>
        <% @samples.each do |sample| %>
          
            <tbody>
              <tr>
                <th class="index-table-icon">
                  <% if sample.marquee %>
                    <i class="fa fa-star"></i>
                  <% end %>
                </th>
                <th class="index-table-text"><%= sample.category %></th>
                <th class="index-table-text"><%= sample.title %></th>
                <th class="index-table-text"><%= image_tag sample.img_before.url(:small) %></th>
                <th class="index-table-text"><%= image_tag sample.img_after.url(:small) %></th>              
              </tr>
            </tbody>
        
        <% end %>
      </table>

    </div>
  <<!-- /div> -->
</div>