

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="brand-unit-main">

      <h3 class="text-center"><%= profession_icon %> <%= @user.profile.profession %>  Profile</h3>

      <h5 class="brand-unit-text"> <%= @user.profile.description %>  </h5>
      <p class="text-center"><%= image_tag @user.profile.avatar.url(:medium) %></p>



      <% if current_user.plan_id == 1 || current_user.plan_id == 2 %>
      <h5> <i class="fa fa-building-o"> </i> <%= @user.profile.work_number %> -- <i class="fa fa-mobile"> </i> <%= @user.profile.mobile_number %>  </h5>

      <h5> <strong>Email: </strong><%= @user.profile.contact_email %> </h5>

        <h5> <strong>Name: </strong><%= @user.profile.first_name %> <%= ' '%><%= @user.profile.last_name %></h5>

        <h5> <strong>Company: </strong><%= @user.profile.company_name %> </h5>

      <h5>
          <%= link_to @user.profile.facebook_url do %>
            <i class="fa fa-facebook-square"></i> <%= @user.profile.facebook_url %>
          <% end %>
        </h5>

        <h5>
          <%= link_to @user.profile.linkedin_url do %>
            <i class="fa fa-linkedin-square"></i> <%= @user.profile.linkedin_url %>
          <% end %>
        </h5>

      <% end %>

      </br>

      <%= link_to edit_user_profile_path(current_user), class: 'btn brand-btn btn-block' do %>
        <i class="fa fa-pencil"></i> Edit
      <% end %>


      <p><%= link_to "Cancel", root_path, class: 'brand-text' %></p>

    </div>
  </div>
</div>