<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="business-card img-responsive">

      <div class="row">
        <div class="col-xs-4">
          <div class="text-center">
            <%= image_tag @user.profile.avatar.url(:medium), class: 'img-responsive img-center img-circle' %>              
          </div>
        </div>

        <div class="col-xs-8">
          <h2 class="brand-text-red">
            <%= profession_icon %> <%= @user.profile.company_name %>
          </h2>
          <br>
          
          <h3>
            <%= @user.profile.first_name %> <%= @user.profile.last_name %>
          </h3>

          <br>
          
          <% if current_user.plan_id == 1 || current_user.plan_id == 2 %>
          
          <div class="text-left">
            <h5>
              <i class="fa fa-building-o"> </i> Work: <a href="tel:<%= @user.profile.work_number %>" title="Call <%= @user.profile.first_name %> Work"><%= @user.profile.work_number %></a>
            </h5>
            
            <h5>
              <i class="fa fa-mobile"> </i> Mobile: <a href="tel:<%= @user.profile.mobile_number %>" title="Call <%= @user.profile.first_name %> Mobile"><%= @user.profile.mobile_number %></a>
            </h5>
            
            <h5>
              <i class="fa fa-paper-plane"> </i> Email: <a href="mailto:<%= @user.profile.contact_email %>" title="Email <%= @user.profile.first_name %>"><%= @user.profile.contact_email %></a>
            </h5>
          </div>

          <% end %>
        </div>  
      </div>         

      <hr>

      <div>
        <h5 class="text-center brand-text-red"> 
          <%= @user.profile.description %>            
        </h5>
        
        <!-- <div>
          <%= link_to @user.profile.facebook_url do %>
            <i class="fa fa-facebook-square"></i> <% @user.profile.facebook_url %>
          <% end %>

          <%= link_to @user.profile.linkedin_url do %>
            <i class="fa fa-linkedin-square"></i> <% @user.profile.linkedin_url %>
          <% end %>
        </div> -->

      </div>

      <hr>
      
      <div>
        <div align="center" class="float-left">
          <%= link_to @user.profile.linkedin_url, class: "btn btn-lg brand-btn" do %>
            <i class="fa fa-paper-plane"> Send</i>
          <% end %>
        </div>
        <div align="center" class="float-left">
          <%= link_to edit_user_profile_path(current_user), class: "btn btn-lg brand-btn" do %>
            <i class="fa fa-pencil"> Edit</i>
          <% end %>
        </div>
        <div align="center" class="float-left">
          <%= link_to root_path, class: "btn btn-lg brand-btn" do %>
            <i class="fa fa-remove"> Cancel</i> 
          <% end %>
        </div>
      </div> 
      <br>
      <br>  
    </div>
  </div>
</div>















