
<% if user_signed_in? && current_user.profile %>
  <div class="jumbotron text-center brand-unit">
    <h1> <%= current_user.profile.company_name %> </br> Work<i class="fa fa-diamond"></i>Gems </h1>
    <h3 class="padding"> The easiest way to showcase the gems of your work! </h3>
  </div>
<% else %>
  <div class="jumbotron text-center brand-unit">
    <h1> Welcome to </br> Work<i class="fa fa-diamond"></i>Gems </h1>
    <h3 class="padding"> The easiest way to showcase the gems of your work! </h3>
  </div>
<% end %>

<div class="container" id="membership-block">
    
  <% if user_signed_in? %>

    <% if current_user.profile %>

      <!-- NEW GEM  -->   
      <div class="col-md-6 text-center">
        <h2 class="text-center">  
          <%= link_to new_user_sample_path(current_user), class: 'btn brand-btn-home btn-block' do %>
            <h3><i class="fa fa-diamond"></i> Add New Gem</h3>
          <% end %>
        </h2>     
      </div>

      <!-- SHOWCASE -->
      <div class="col-md-6 text-center">
        <h2 class="text-center">  
          <%= link_to user_samples_path(current_user), class: 'btn brand-btn-home btn-block' do %>
            <h3><i class="fa fa-th"></i> View Showcase</h3>
          <% end %>
        </h2>     
      </div>

    <% else %>
    <% end %>

    <!-- PROFILE -->
    <div class="col-md-6 text-center">
      <% if current_user.profile %>

        <h2 class="text-center">  
          <%= link_to user_path(current_user), class: 'btn brand-btn-home btn-block' do %>
            <h3><i class="fa fa-user"></i> View Profile</h3>
          <% end %>
        </h2>

      <% else %>

        <h2 class="text-center">  
          <%= link_to new_user_profile_path(current_user), class: 'btn brand-btn-home btn-block' do %>
            <h3><i class="fa fa-user"></i> Create Profile</h3>
          <% end %>
        </h2>

      <% end %>
    </div>

    <!-- SEARCH COMMUNITY -->
    <div class="col-md-6 text-center">
      <h2 class="text-center">  
        <%= link_to users_path, class: 'btn brand-btn-home btn-block' do %>
          <h3><i class="fa fa-users"></i> Search Community</h3>
        <% end %>
      </h2>     
    </div>

  <% else %>

    <!-- BASIC PLAN -->
    <div class="col-md-6" id="membership-option">
      <div class="brand-unit-main">
        <h3 class="text-center"><strong>Introductory Membership</strong></h3>
        <h5>  <!-- 60 days -->FREE</h5>
        <ul class="text-left">
          <li> <strong>$0</strong> per month </li>
          <li> Access to WorkGems community </li>
          <li> Create up to <strong>5</strong> categories </li>
          <li> Showcase up to <strong>10</strong> gems per category </li>
        </ul>
        <%= link_to "Sign up for free today", new_user_registration_path(plan: @basic_plan.id), class: 'btn brand-btn btn-lg btn-block' %>
      </div>
    </div>

    <!-- PRO PLAN -->
    <div class="col-md-6" id="membership-option">
      <div class="brand-unit-main">
        <h3 class="text-center"><strong>Pro Membership</strong></h3>
        <h5> _____________________ </h5>
        <ul class="text-left">
          <li> <strong>$20</strong> per month </li>
          <li> Access to WorkGems community </li>
          <li> Create up to <strong>20</strong> categories </li>
          <li> Showcase up to <strong>10</strong> gems per category </li>
        </ul>
        <%= link_to "Sign up for $20/month", new_user_registration_path(plan: @pro_plan.id), class: 'btn brand-btn btn-lg btn-block' %>
      </div>
    </div>

  <% end %>


</div>