<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class=" text-center brand-unit">

      <h2>What Can We Do Better? <i class="fa fa-commenting"></i></h2>
      <p>Let us know how we can make it even easier for you to showcase the gems of your work.</p>

    </div>
  </div>

  <div class="col-md-6 col-md-offset-3">
    <div class="brand-unit-main">

      <h2 class="text-center">Feedback</h2>

      <%= form_for @feedback do |f| %>

      <div class="form-group text-left">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group text-left">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group text-left">
        <%= f.label :comments %>
        <%= f.text_area :comments, class: 'form-control' %>
      </div>

      <%= f.submit 'Submit', class: 'btn brand-btn' %>

      <p><%= link_to "Cancel", root_path, class: 'brand-text' %></p>

      <% end %>

    </div>
  </div>

</div>